<h1>Create a new list</h1>
<%= simple_form_for [@list] do |f| %>
  <%= f.input :name, placeholder: 'Dramas' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<%= link_to "Cancel", lists_path %>
