<h1><%=@list.name%></h1>
<ul class="list-unstyled">
    <% @list.bookmarks.each do |bookmark| %>
      <li><%= bookmark.movie.title %> ◉ <%= bookmark.movie.rating%>
        <%= bookmark.comment %> </li>
    <% end %>
</ul>

<%= link_to "Add a movie bookmark", new_list_bookmark_path(@list) %>
<%= link_to "Go back to lists", lists_path %>
